services:
    azure-storage:
        image: mcr.microsoft.com/azure-storage/azurite
        ports:
            - "10000:10000"
            - "10001:10001"
            - "10002:10002"
        healthcheck:
            test: nc 127.0.0.1 10000 -z
            interval: 1s
            retries: 30

    database:
        image: "postgres:17"
        environment:
            - POSTGRES_USER=worms
            - POSTGRES_PASSWORD=worms
            - POSTGRES_DB=worms
        ports:
            - "5432:5432"
        healthcheck:
            test: "pg_isready -U worms"
            interval: 5s
            timeout: 5s
            retries: 5

    flyway-init:
        image: redgate/flyway:11
        volumes:
            - ./src/database:/project
        command:
            - "info"
            - "migrate"
            - "info"
            - "-workingDirectory=/project"
            - "-locations=filesystem:/project/migrations,filesystem:/project/local-dev"
        environment:
            - FLYWAY_URL=jdbc:postgresql://database:5432/worms
            - FLYWAY_USER=worms
            - FLYWAY_PASSWORD=worms
            - FLYWAY_SCHEMAS=public
        depends_on:
            database:
                condition: service_healthy

    hub-gateway:
        build:
            dockerfile: build/docker/gateway/Dockerfile
            context: .
        ports:
            - "5005:8080"
        volumes:
            - ./sample-data:/data
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - WORMS_CONNECTIONSTRINGS__STORAGE=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage:10000/devstoreaccount1;QueueEndpoint=http://azure-storage:10001/devstoreaccount1;
            - WORMS_CONNECTIONSTRINGS__DATABASE=Server=database;Port=5432;Database=worms;Username=worms;Password=worms
            - WORMS_STORAGE__TEMPREPLAYFOLDER=/data/replays
            - WORMS_STORAGE__CLIFOLDER=/data/cli
            - WORMS_STORAGE__SCHEMESFOLDER=/data/schemes
            - WORMS_HUB_DISTRIBUTED=true
            - WORMS_HUB_GATEWAY=true
        depends_on:
            flyway-init:
                condition: service_completed_successfully
            azure-storage:
                condition: service_healthy

    hub-worker:
        build:
            dockerfile: build/docker/gateway/Dockerfile
            context: .
        volumes:
            - ./sample-data:/data
        environment:
            - WORMS_CONNECTIONSTRINGS__STORAGE=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage:10000/devstoreaccount1;QueueEndpoint=http://azure-storage:10001/devstoreaccount1;
            - WORMS_CONNECTIONSTRINGS__DATABASE=Server=database;Port=5432;Database=worms;Username=worms;Password=worms
            - WORMS_STORAGE__TEMPREPLAYFOLDER=/data/replays
            - WORMS_HUB_DISTRIBUTED=true
            - WORMS_HUB_WORKER=true
        depends_on:
            flyway-init:
                condition: service_completed_successfully
            azure-storage:
                condition: service_healthy

    hub-wa-runner:
        build:
            dockerfile: build/docker/wa-runner/Dockerfile
            context: .
        volumes:
            - ./sample-data:/data
            - /home/eadie/games/worms:/game
        environment:
            - WORMS_CONNECTIONSTRINGS__STORAGE=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage:10000/devstoreaccount1;QueueEndpoint=http://azure-storage:10001/devstoreaccount1;
            - WORMS_STORAGE__TEMPREPLAYFOLDER=/data/replays
        depends_on:
            azure-storage:
                condition: service_healthy
