name: Code - Main
permissions:
  contents: write
  pull-requests: write
  security-events: write

on:
  push:
    branches:
      - "main"
    paths:
      - "src/**"
      - "build/**"
      - ".github/workflows/code-*.yml"
      - ".github/workflows/zz-build-*.yml"
      - ".github/workflows/zz-release-*.yml"
      - ".github/workflows/zz-inspections.yml"

jobs:
  build-hub:
    name: Build - Hub
    uses: ./.github/workflows/zz-build-hub.yml
    secrets: inherit

  build-cli:
    name: Build - CLI
    uses: ./.github/workflows/zz-build-cli.yml
    secrets: inherit

  release-hub:
    name: Release - Hub
    needs: build-hub
    uses: ./.github/workflows/zz-release-hub.yml
    secrets: inherit

  release-cli:
    name: Release - CLI
    needs: build-cli
    uses: ./.github/workflows/zz-release-cli.yml
    secrets: inherit

  actions-timeline:
    name: Timeline
    needs: [build-hub, build-cli, release-hub, release-cli]
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@v3
        with:
          show-waiting-runner: true
